{{#if details.response.score}}
  <div>
    <span class="p-key">Tenable Score:</span>
    <span class="p-value">{{details.response.score}}</span>
  </div>
{{/if}}
  <h1 class="p-title">
      {{fa-icon "exclamation" fixedWidth=true}}  Severity Levels
  </h1>
  {{#if details.response.total}}
    {{#if (eq block.entity.type "domain")}}
      <div>
        <span style="color:black" class="p-key"><b>Total</b> Number of Severities:</span>
        <span class="p-value"><a href="{{block.userOptions.url}}/#vulnerabilities/cumulative/listvuln/%7B%22filt%22%3A%20%5B%7B%22filterName%22%3A%20%22dnsName%22%2C%22value%22%3A%20%22{{block.entity.value}}%22%7D%5D%7D">{{details.response.total}} {{fa-icon "external-link-square" class="external-link-icon"}}</a></span>
      </div>
    {{else}}
      <div>
        <span style="color:black" class="p-key"><b>Total</b> Number of Severities:</span>
        <span class="p-value"><a href="{{block.userOptions.url}}/#vulnerabilities/cumulative/listvuln/%7B%22filt%22%3A%20%5B%7B%22filterName%22%3A%20%22ip%22%2C%22value%22%3A%20%22{{block.entity.value}}%22%7D%5D%7D">{{details.response.total}} {{fa-icon "external-link-square" class="external-link-icon"}}</a></span>
      </div>
    {{/if}}
  {{/if}}
  {{#if details.response.severityInfo}}
    {{#if (eq block.entity.type "domain")}}
      <div>
        <span style="color:black" class="p-key">Number of <b>Informational</b> Severities:</span>
        <span class="p-value"><a href="{{block.userOptions.url}}/#vulnerabilities/cumulative/listvuln/%7B%22filt%22%3A%5B%7B%22filterName%22%3A%22dnsName%22%2C%22value%22%3A%22{{block.entity.value}}%22%7D%2C%7B%22filterName%22%3A%22severity%22%2C%22value%22%3A%220%22%7D%5D%7D%0A">{{details.response.severityInfo}} {{fa-icon "external-link-square" class="external-link-icon"}}</a></span>
      </div>
    {{else}}
      <div>
        <span style="color:black" class="p-key">Number of <b>Informational</b> Severities:</span>
        <span class="p-value"><a href="{{block.userOptions.url}}/#vulnerabilities/cumulative/listvuln/%7B%22filt%22%3A%5B%7B%22filterName%22%3A%22ip%22%2C%22value%22%3A%22{{block.entity.value}}%22%7D%2C%7B%22filterName%22%3A%22severity%22%2C%22value%22%3A%220%22%7D%5D%7D%0A">{{details.response.severityInfo}} {{fa-icon "external-link-square" class="external-link-icon"}}</a></span>
      </div>
    {{/if}}
  {{/if}}
  {{#if details.response.severityLow}}
    {{#if (eq block.entity.type "domain")}}
      <div>
        <span class="p-key">Number of <span style="color:green"><b>Low</b></span> Severities:</span>
        <span class="p-value"><a href="{{block.userOptions.url}}/#vulnerabilities/cumulative/listvuln/%7B%22filt%22%3A%5B%7B%22filterName%22%3A%22dnsName%22%2C%22value%22%3A%22{{block.entity.value}}%22%7D%2C%7B%22filterName%22%3A%22severity%22%2C%22value%22%3A%221%22%7D%5D%7D%0A">{{details.response.severityLow}} {{fa-icon "external-link-square" class="external-link-icon"}}</a></span>
      </div>
    {{else}}
      <div>
        <span class="p-key">Number of <span style="color:green"><b>Low</b></span> Severities:</span>
        <span class="p-value"><a href="{{block.userOptions.url}}/#vulnerabilities/cumulative/listvuln/%7B%22filt%22%3A%5B%7B%22filterName%22%3A%22ip%22%2C%22value%22%3A%22{{block.entity.value}}%22%7D%2C%7B%22filterName%22%3A%22severity%22%2C%22value%22%3A%221%22%7D%5D%7D%0A">{{details.response.severityLow}} {{fa-icon "external-link-square" class="external-link-icon"}}</a></span>
      </div>
    {{/if}}
  {{/if}}
  {{#if details.response.severityMedium}}
    {{#if (eq block.entity.type "domain")}}
      <div>
        <span class="p-key">Number of <span style="color:orange"><b>Medium</b></span> Severities:</span>
        <span class="p-value"><a href="{{block.userOptions.url}}/#vulnerabilities/cumulative/listvuln/%7B%22filt%22%3A%5B%7B%22filterName%22%3A%22dnsName%22%2C%22value%22%3A%22{{block.entity.value}}%22%7D%2C%7B%22filterName%22%3A%22severity%22%2C%22value%22%3A%222%22%7D%5D%7D%0A">{{details.response.severityMedium}} {{fa-icon "external-link-square" class="external-link-icon"}}</a></span>
      </div>
    {{else}}
      <div>
        <span class="p-key">Number of <span style="color:orange"><b>Medium</b></span> Severities:</span>
        <span class="p-value"><a href="{{block.userOptions.url}}/#vulnerabilities/cumulative/listvuln/%7B%22filt%22%3A%5B%7B%22filterName%22%3A%22ip%22%2C%22value%22%3A%22{{block.entity.value}}%22%7D%2C%7B%22filterName%22%3A%22severity%22%2C%22value%22%3A%222%22%7D%5D%7D%0A">{{details.response.severityMedium}} {{fa-icon "external-link-square" class="external-link-icon"}}</a></span>
      </div>
    {{/if}}
  {{/if}}
  {{#if details.response.severityHigh}}
    {{#if (eq block.entity.type "domain")}}
      <div>
        <span class="p-key">Number of <span style="color:red"><b>High</b></span> Severities:</span>
        <span class="p-value"><a href="{{block.userOptions.url}}/#vulnerabilities/cumulative/listvuln/%7B%22filt%22%3A%5B%7B%22filterName%22%3A%22dnsName%22%2C%22value%22%3A%22{{block.entity.value}}%22%7D%2C%7B%22filterName%22%3A%22severity%22%2C%22value%22%3A%223%22%7D%5D%7D%0A">{{details.response.severityHigh}} {{fa-icon "external-link-square" class="external-link-icon"}}</a></span>
      </div>
    {{else}}
      <div>
        <span class="p-key">Number of <span style="color:red"><b>High</b></span> Severities:</span>
        <span class="p-value"><a href="{{block.userOptions.url}}/#vulnerabilities/cumulative/listvuln/%7B%22filt%22%3A%5B%7B%22filterName%22%3A%22ip%22%2C%22value%22%3A%22{{block.entity.value}}%22%7D%2C%7B%22filterName%22%3A%22severity%22%2C%22value%22%3A%223%22%7D%5D%7D%0A">{{details.response.severityHigh}} {{fa-icon "external-link-square" class="external-link-icon"}}</a></span>
      </div>
    {{/if}}
  {{/if}}
  {{#if details.response.severityCritical}}
    {{#if (eq block.entity.type "domain")}}
      <div>
        <span class="p-key">Number of <span style="color:purple"><b>Critical</b></span> Severities:</span>
        <span class="p-value"><a href="{{block.userOptions.url}}/#vulnerabilities/cumulative/listvuln/%7B%22filt%22%3A%5B%7B%22filterName%22%3A%22dnsName%22%2C%22value%22%3A%22{{block.entity.value}}%22%7D%2C%7B%22filterName%22%3A%22severity%22%2C%22value%22%3A%224%22%7D%5D%7D%0A">{{details.response.severityCritical}} {{fa-icon "external-link-square" class="external-link-icon"}}</a></span>
      </div>
    {{else}}
      <div>
        <span class="p-key">Number of <span style="color:purple"><b>Critical</b></span> Severities:</span>
        <span class="p-value"><a href="{{block.userOptions.url}}/#vulnerabilities/cumulative/listvuln/%7B%22filt%22%3A%5B%7B%22filterName%22%3A%22ip%22%2C%22value%22%3A%22{{block.entity.value}}%22%7D%2C%7B%22filterName%22%3A%22severity%22%2C%22value%22%3A%224%22%7D%5D%7D%0A">{{details.response.severityCritical}} {{fa-icon "external-link-square" class="external-link-icon"}}</a></span>
      </div>
    {{/if}}
  {{/if}}

  <div>
      <span class="p-title">{{fa-icon "laptop" fixedWidth=true}} Device Information </span>
  </div>

  {{#if details.response.macAddress}}
    <div>
      <span class="p-key">MAC Address:</span>
      <span class="p-value">{{details.response.macAddress}}</span>
    </div>
  {{/if}}

  {{#if details.response.netbiosName}}
    <div>
      <span class="p-key">NetBIOS Name:</span>
      <span class="p-value">{{details.response.netbiosName}}</span>
    </div>
  {{/if}}
  {{#if details.response.os}}
    <div>
      <span class="p-key">Operating System:</span>
      <span class="p-value">{{details.response.os}}</span>
    </div>
  {{/if}}
  {{#if details.response.dnsName}}
    <div>
      <span class="p-key">DNS Name:</span>
      <span class="p-value">{{details.response.dnsName}}</span>
    </div>
  {{/if}}
  {{#if details.response.osCPE}}
    <div>
      <span class="p-key">CPE Name:</span>
      <span class="p-value">{{details.response.osCPE}}</span>
    </div>
  {{/if}}
  {{#if details.response.policyName}}
    <div>
      <span class="p-key">Policy Name:</span>
      <span class="p-value">{{details.response.policyName}}</span>
    </div>
  {{/if}}

  <div>
      <span class="p-title">{{fa-icon "redo" fixedWidth=true}} Information from Last Scan </span>
  </div>

  {{#if details.response.lastScan}}
    <div>
      <span class="p-key">Last Scan Date:</span>
      <span class="p-value">{{moment-format details.response.lastScan timeZone=timezone}}</span>
    </div>
  {{/if}}

  {{#if details.response.lastAuthRun}}
    <div>
      <span class="p-key">Last Auth Run:</span>
      <span class="p-value">{{mdetails.response.lastAuthRun timeZone=timezone}}</span>
    </div>
  {{/if}}

  {{#if details.response.hasPassive}}
    <div>
      <span class="p-key">Has Passive:</span>
      <span class="p-value">{{details.response.hasPassive}}</span>
    </div>
  {{/if}}

  {{#if details.response.hasCompliance}}
    <div>
      <span class="p-key">Has Compliance:</span>
      <span class="p-value">{{details.response.hasCompliance}}</span>
    </div>
  {{/if}}

  {{#if details.response.repositories}}
    <div>
        <span class="p-title">{{fa-icon "database" fixedWidth=true}} Repository Information </span>
    </div>
    <div>
        {{#each details.response.repositories as |repo|}}
            {{#if repo.name}}
            <span class="p-key">Name of Repository:</span>
            <span class="p-value">{{repo.name}}</span>
            {{/if}}
            {{#if repo.description}}
            <span class="p-key">Description of Repository:</span>
            <span class="p-value">{{repo.description}}</span>
            {{/if}}
        {{/each}}
    </div>
{{/if}}
