{{! IPv4 and Domain output parsing}}
{{#if details.response.severityCritical}}
  <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
    <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
    <span class="integration-text-color">Critical Severities: {{details.response.severityCritical}}</span>
  </span>
{{/if}}
{{#if details.response.severityHigh}}
  <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
    <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
    <span class="integration-text-color">High Severities: {{details.response.severityHigh}}</span>
  </span>
{{/if}}
{{#if details.response.hasCompliance}}
  <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
    <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
    <span class="integration-text-color">Has Compliance: {{details.response.hasCompliance}}</span>
  </span>
{{/if}}
{{#if details.response.lastScan}}
  <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
    <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
    <span class="integration-text-color">Last Scan Date: {{moment-format details.response.lastScan timeZone=timezone}}</span>
  </span>
{{/if}}
{{! CVE output parsing}}
{{#if details.response.totalRecords}}
  <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
    <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
    <span class="integration-text-color">{{details.response.totalRecords}} Total Records Found</span>
  </span>
  <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
    <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
    <span class="integration-text-color">Critical Severities: {{details.response.criticalSeverityResults.length}}</span>
  </span>
{{/if}}